{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% import "admin/macros.html.twig" as macros %}

{% block title %}{{ 'general.administration'|trans}} | {{ 'parameter.parameters'|trans}}{% endblock %}
{% block body %}
<h1 class="mb-3">{{ 'parameter.parameters'|trans}}</h1>
<div class="section mb-3">
    <a class="btn btn-primary" href="{{ path('parameter_new') }}">{{ 'parameter.add'|trans}} <span class="fa fa-plus-square" aria-hidden="true"></span></a>
</div>
    <table class="table listtable">
        <tr>
            <th>{{ 'parameter.type'|trans}}</th>
            <th>{{ 'parameter.name'|trans}}</th>
            <th>{{ 'parameter.value'|trans}}</th>
            <th></th>
        </tr>
    {% for param in parameters %}
        <tr>
            <td>{{ param.type }}</td>
            <td>{{ param.name }}</td>
            <td>{{ param.value }}</td>
            <td>{{ macros.deleteButton('repertoire', rep.id) }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
