{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% form_theme form with 'bootstrap_5_layout.html.twig' %}
{% block title %}{{'general.administration'|trans}} | {{ 'general.edit'|trans }} '{{ form.firstname.vars.value }} {{ form.lastname.vars.value }}'{% endblock %}
{% block body %}
    <h1> {{ 'general.edit'|trans }} '{{ form.firstname.vars.value }} {{ form.lastname.vars.value }}'</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(form._token) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.voice) }}
        {% if form.roles is defined %}
            {{ form_row(form.roles) }}
        {% endif %}
        {% if crop_config.crop_coordinations is defined and crop_config.crop_coordinations is not empty %}
        {% set runtimeConfig = {"crop": {"size": [crop_config.crop_coordinations.width, crop_config.crop_coordinations.height], "start": [crop_config.crop_coordinations.x, crop_config.crop_coordinations.y] }} %}
        {% endif %}
        <fieldset>
            <legend>{{ form_label(form.picture) }}</legend>
            {% if picture %}
            <div class="row">
                {% if picture.path is defined and picture.path is not empty %}
                <div class="col-md-9">
                    <img src="{{ asset(images_directory ~ picture.path) }}" id="cropzone" />
                </div>
                {% endif %}
                {% if runtimeConfig is defined %}
                <div class="col-md-3 px-4">
                    <img src="{{ asset(images_directory ~ picture.path) | imagine_filter('site_user_square', runtimeConfig) }}" class="img-fluid"  />
                </div>
                {% endif %}
            </div>
            {% if crop_config.aspect_ratio is defined %}
            <input type="hidden" value="{{ crop_config.aspect_ratio }}" id="cropper_ratio" />
            {% else %}
            <input type="hidden" value="" id="cropper_ratio" />
            {% endif %}
            {% if form.picture.crop_coordinations is defined %}
            {{ form_widget(form.picture.crop_coordinations, {'attr': {'class': 'crop-coordinations'}}) }}
            {% endif %}
            {% endif %}
                    {{ form_label(form.picture.file) }}
                    {{ form_errors(form.picture.file) }}
                <div class="input-group">
                    {{ form_widget(form.picture.file) }}
                {% if form.picture.add_image is defined %}
                    {{ form_widget(form.picture.add_image, {'attr': {'class': 'btn btn-outline-secondary'}}) }}
                {% endif %}
                {% if form.picture.remove_image is defined %}
                    {{ form_widget(form.picture.remove_image, {'attr': {'class': 'btn btn-outline-danger'}}) }}
                {% endif %}
                </div>
            {{ form_row(form.picture.title) }}
            {{ form_row(form.picture.alt) }}
        </fieldset>
        {{ form_row(form.save) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}