{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% block title %}{{ 'general.administration'|trans}} | {{ 'users.users'|trans}}{% endblock %}
{% block body %}
    <h1>{{ 'users.users'|trans}} {% if disabled %}{{ 'users.disabled'|trans }}{% endif %}</h1>
    {% if not disabled %}
    <div class="section">
        <a class="btn btn-primary" href="{{ path('user_new') }}">{{ 'users.create'|trans}} <span class="fa fa-plus-square" aria-hidden="true"></span></a>
        <br/><br/>
    </div>
    {% endif %}
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link{% if not disabled %} active{% endif %}" href="{{ path('user_list') }}">{{ 'users.active'|trans }}</a></li>
        <li class="nav-item"><a class="nav-link{% if disabled %} active{% endif %}" href="{{ path('disabled_user_list') }}">{{ 'users.inactive'|trans }}</a></li>
    </ul>
    <table class="table listtable">
        <tr>
            <th>{{ 'users.name'|trans}}</th>
            <th>{{ 'users.email'|trans}}</th>
            <th></th>
            <th></th>
            {% if not disabled %}
            <th></th>
            {% endif %}
        </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.firstname }} {{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            {% if not disabled %}
                <td><a class="btn btn-primary btn-sm" href="{{ path('user_edit', {'user_id':user.id}) }}"><span class="fas fa-user-edit" aria-hidden="true"></span> {{ 'general.edit'|trans}}</a></td>
                <td>{% if 'ROLE_SUPER_ADMIN' not in user.roles %}<a class="btn btn-warning btn-sm" href="{{ path('user_disable', {'user_id':user.id}) }}"><span class="far fa-times-circle" aria-hidden="true"></span> {{ 'general.disable'|trans}}</a>{% else %}<a href="#" class="btn btn-warning btn-sm disabled" role="button"><span class="far fa-times-circle" aria-hidden="true"></span> {{ 'general.disable'|trans}}</a>{% endif %}</td>
                <td>{% if 'ROLE_SUPER_ADMIN' not in user.roles %}<a class="btn btn-light btn-sm" href="{{ path('app_change_password_user', {'user_id':user.id}) }}"><span class="fas fa-key" aria-hidden="true"></span> {{ 'security.change-password'|trans}}</a>{% else %}<a href="#" class="btn btn-light btn-sm disabled" role="button"><span class="fas fa-key" aria-hidden="true"></span> {{ 'security.change-password'|trans}}</a>{% endif %}</td>
            {% else %}
                <td><a class="btn btn-success btn-sm" href="{{ path('user_enable', {'user_id':user.id}) }}"><span class="far fa-check-circle" aria-hidden="true"></span> {{ 'general.enable'|trans}}</a></td>
                <td>{% if 'ROLE_SUPER_ADMIN' not in user.roles %}<a class="btn btn-danger btn-sm deletelink" href="{{ path('user_delete', {'user_id':user.id}) }}"><span class="far fa-trash-alt" aria-hidden="true"></span> {{ 'general.delete'|trans}}</a>{% else %}<a href="#" class="btn btn-danger btn-sm disabled" role="button"><span class="far fa-trash-alt" aria-hidden="true"></span> {{ 'general.delete'|trans}}</a>{% endif %}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}