{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% import "admin/macros.html.twig" as macros %}
{% block title %}{{ 'general.administration'|trans}} | {{ 'events.events'|trans}}{% endblock %}
{% block body %}
    <h1>{{ 'events.events'|trans}}</h1>
    <div class="section">
        <a  class="btn btn-primary" href="{{ path('event_new') }}">{{ 'events.create'|trans}} <span class="fa fa-plus-square" aria-hidden="true"></span></a>
    </div>
    <table class="table listtable">
        <tr>
            <th>{{ 'events.name'|trans}}</th>
            <th>{{ 'events.date'|trans}}</th>
            <th>{{ 'general.published'|trans}}</th>
            <th></th>
            <th></th>
        </tr>
    {% for ev in events %}
        <tr>
            <td>{{ ev.name }}</td>
            <td>{{ ev.date|date('d/m/Y') }}</td>
            <td>{{ macros.publishButton('event', ev.id, ev.published) }}</td>
            <td>{{ macros.editButton('event', ev.id) }}</td>
            <td>{{ macros.deleteButton('event', ev.id) }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
