{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}{{'general.administration'|trans}} | {{'general.add'|trans}} {{'homeslide.homeslide'|trans}}{% endblock %}
{% block body %}
    <h1> {{'general.add'|trans}} {{'homeslide.homeslide'|trans}}</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form._token) }}
    {{ form_row(form.title) }}
    {{ form_row(form.text) }}
    {{ form_row(form.link_name) }}
    {{ form_row(form.link_url) }}
    <fieldset>
            <legend>{{ form_label(form.image) }}</legend>
                    {{ form_label(form.image.file) }}
                    {{ form_errors(form.image.file) }}
                <div class="input-group">
                    {{ form_widget(form.image.file) }}
                {% if form.image.add_image is defined %}
                    {{ form_widget(form.image.add_image, {'attr': {'class': 'btn btn-outline-secondary'}}) }}
                {% endif %}
                </div>
            {{ form_row(form.image.title) }}
            {{ form_row(form.image.alt) }}
        </fieldset>
        {{ form_row(form.video) }}
        {{ form_row(form.save) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}