{% trans_default_domain 'Front' %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'website.title'|trans }} | {{ event.name }}{% endblock %}
{% block description %}{{ event.description|striptags|u.truncate(150, true) }}{% endblock %}
{% block opengraph %}
<meta property="og:title" content="{{ event.name }}" />
<meta property="og:description" content="{{ event.description|striptags|u.truncate(150, true) }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ absolute_url(path('event', {'slug' : event.slug})) }}" />
{% if event.picture is defined and event.picture is not null %}
<meta property="og:image" content="{{ absolute_url(asset(images_directory ~ event.picture.path) | imagine_filter('site_image_preview')) }}" />
{% else %}
<meta property="og:image" content="{{ absolute_url(asset('build/images/og-default.jpg')) }}" />
{% endif %}
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <link rel="profile" href="http://microformats.org/profile/hcalendar"/>
{% endblock %}
{% block bodytag %}<body class="event">{% endblock %}
{% block body %}
<div class="event">
    {{ include('default/eventcontent.html.twig') }}
    {% if gallery is defined and gallery is not null %}
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-9"><h2>{{ 'website.eventpictures'|trans }}</h2></div>
            <div class="col-md-3">
                {% if gallery.pictures[5] is defined %}
                    <a href="{{ path('gallery', {'slug': gallery.slug}) }}" class="btn btn btn-outline-secondary">{{ 'website.viewmore'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div>
        <div class="gallery">
        {% for i in 0..4 %}{% if gallery.pictures[i] is defined %}{% set image = gallery.pictures[i] %}<a href="{{ asset(images_directory ~ gallery.pictures[i].path) }}">{{ cropped_image(gallery.pictures[i], 'site_image_preview') }}</a>{% endif %}{% endfor %}
        </div>
    </div>
    {% endif %}
    </section>
</div>
{% endblock %}