{% if large is defined and large == true %}
<div class="container large-concert-preview mb-5">
{% else %}
<div class="col-md-6 concert-preview mb-4">
{% endif %}
    <div class="row">
        <div class="col-md-4 eventimage">
            <a href="{{ path('event', {'slug' : event.slug}) }}">
                {% if event.picture != null %}
                {{ cropped_image(event.picture, 'site_gallery_preview') }}
                {% endif %}
            </a>
        </div>
        <div class="col-md-8 pt-2">
            <a href="{{ path('event', {'slug' : event.slug}) }}">
                <p class="date">{{ event.date|format_datetime(pattern="dd/MM/yyyy") }}</p>
                <p class="name">{{ event.name }}</p>
                <p class="place">{{ event.location }}</p>
            </a>
        </div>
    </div>
</div>