{% trans_default_domain 'Front' %}
{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'website.title'|trans }} | {{ gallery.title }}{% endblock %}
{% block description %}{{ gallery.description|striptags|u.truncate(150, true) }}{% endblock %}
{% block opengraph %}
<meta property="og:title" content="{{ gallery.title }}" />
<meta property="og:description" content="{{ gallery.description|striptags|u.truncate(150, true) }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ absolute_url(path('gallery', {'slug' : gallery.slug })) }}" />
{% if gallery.pictures is defined and gallery.pictures|length %}
<meta property="og:image" content="{{ absolute_url(asset(images_directory ~ gallery.pictures[0].path) | imagine_filter('site_image_preview')) }}" />
{% else %}
<meta property="og:image" content="{{ absolute_url(asset('build/images/og-default.jpg')) }}" />
{% endif %}
{% endblock %}
{% block bodytag %}<body class="gallery-detail">{% endblock %}
{% block body %}
    <div class="pageintro bgcolor py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pt-5">
                    <h1>{{ gallery.title }}</h1>
                </div>
                <div class="col-md-8 py-5">
                    <div class="dates">{{ macros.dateRange(gallery.date, gallery.dateto) }}</div>
                    {% if gallery.description is not empty %}
                        <p>{{ gallery.description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <section class="diagbg py-4">
        <div class="pictures gallery">
        {% for image in gallery.pictures %}<a href="{{ asset(images_directory ~ image.path) }}">{{ cropped_image(image, 'site_image_preview') }}</a>{% endfor %}
        </div>
    </section>
{% endblock %}