{% import "macros.html.twig" as macros %}
<div class="container-fluid py-4 px-0">
    <div class="row">
        <div class="col-md-6 text-center py-5">
            <h1>{{ homeslide.title }}</h1>
            <p>{{ homeslide.text }}</p>
            {% if homeslide.linkname is not empty and homeslide.linkurl is not empty %}
                <div class="p3 mt-5">
                    <a class="btn btn-primary" role="button" href="{{ homeslide.linkurl }}" aria-disabled="true">{{ homeslide.linkname }}</a>
                </div>
            {% endif %}
        </div>
        <div class="col-md-6 px-0">
            {% if homeslide.image is not null %}
                {{ cropped_image(homeslide.image, 'site_homepage_main') }}
            {% elseif homeslide.video is not empty %}
                {{ embed_video(homeslide.video) }}
            {% endif %}
        </div>
    </div>
</div>