{% trans_default_domain 'Front' %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'website.title'|trans }} | {{ 'website.joinus-title'|trans }}{% endblock %}
{% block description %}{{ text_block('nous_rejoindre_contenu') }}{% endblock %}
{% block opengraph %}
<meta property="og:title" content="{{ 'website.joinus-title'|trans }}" />
<meta property="og:description" content="{{ text_block('nous_rejoindre_contenu')|striptags }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ absolute_url(path('joinus')) }}" />
<meta property="og:image" content="{# absolute_url(asset('images/og-default.jpg')) #}" />
{% endblock %}
{% block bodytag %}<body class="joinus">{% endblock %}
{% block body %}
<div class="container">
     <div class="bgcolor">
          <h1>{{ 'website.joinus-title'|trans }}</h1>
     </div>
     <div>{{ text_block('nous_rejoindre_contenu', false) }}</div>
</div>
{% endblock %}
