{% trans_default_domain 'Front' %}
{% extends 'base.html.twig' %}
{% block title %}{{ 'website.title'|trans }} | {{ 'website.repertoire'|trans }}{% endblock %}
{% block opengraph %}
<meta property="og:title" content="{{ 'website.repertoire'|trans }}" />
<meta name="og:description" content="{{ text_block('repertoire_intro', true) }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ absolute_url(path('repertoire')) }}" />
<meta property="og:image" content="{# absolute_url(asset('images/og-default.jpg')) #}" />
{% endblock %}
{% block bodytag %}<body class="repertoire">{% endblock %}
{% block body %}
    
    <div class="pageintro bgcolor">
        <div class="container">
        <div class="row">
            <div class="col-md-4 pt-5">
                <h1>{{ 'website.repertoire'|trans }}</h1>
            </div>
            <div class="col-md-8 py-5">
                {{ text_block('repertoire_intro') }}
            </div>
        </div>
        </div>
    </div>
    <section class="diagbg">
        <div class="container py-4">
            <div class="row">
            {% for song in repertoire %}
                <div class="rep col-md-4 col-lg-3 mb-3">
                    <h3 class="text-center">{{ song.title }}</h3>
                    <p class="text-center">{{ song.description }}</p>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <div class="pageintro bgcolor">
        <div class="container">
        <div class="row">
            <div class="col-md-4 py-5">
                <h2>{{ 'website.oldrepertoire'|trans }}</h2>
            </div>
            <div class="col-md-8 py-5">
                {{ text_block('repertoire_old_intro') }}
            </div>
        </div>
        </div>
    </div>
    <section class="diagbg">
        <div class="container py-4">
            <div class="row">
        {% for oldsong in oldrepertoire %}
            <div class="oldrep col-sm-6 col-md-3 col-lg-2 mb-3">
                <h4 class="text-center">{{ oldsong.title }}</h4>
                <p class="text-center">{{ oldsong.description }}</p>
            </div>
        {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}