{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% block title %}{{ 'general.administration'|trans}}{% endblock %}
{% block body %}
    <h1 class="mb-3">{{ 'general.admin-welcome-message'|trans }}</h1>
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="section mb-3">
        <h3 class="mb-3">{{ 'general.homeslide'|trans }}</h3>
        {% if homeslide is empty %}
            <p>{{ 'general.no-homeslide'|trans }}</p>
        {% else %}
            {{ include('admin/default/homeslide.html.twig') }}
        {% endif %}
        <a  class="btn btn-light" href="{{ path('homeslide_list') }}">{{ 'general.homeslides'|trans }}</a>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="section mb-3">
        <h3 class="mb-3">{{ 'general.advanced-functions'|trans }}</h3>
        <a  class="btn btn-light" href="{# path('clear_cache') #}">{{ 'general.clear-cache'|trans}} <span class="fas fa-redo-alt" aria-hidden="true"></span></a>
        <a  class="btn btn-light" href="{{ path('parameter_list') }}">{{ 'general.edit-parameters'|trans}} <span class="fas fa-check-double" aria-hidden="true"></span></a>
    </div>
    
    {% endif %}
    <div class="section">
        <h3 class="mb-3">{{ 'general.homepage-shortcuts'|trans }}</h3>
        <div class="row">
            <div class="col-md-3">
            <a href="{{ path('event_new') }}" class="home-shortcut btn btn-light"><span class="far fa-calendar-alt"></span>{{ 'general.addevent'|trans }}</a>
            </div>
            <div class="col-md-3">
            <a href="{{ path('repertoire_new') }}" class="home-shortcut btn btn-light"><span class="fas fa-music"></span>{{ 'general.addrepertoire'|trans }}</a>
            </div>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="col-md-3">
            <a href="{{ path('user_new') }}" class="home-shortcut btn btn-light"><span class="fas fa-user"></span>{{ 'general.addmember'|trans }}</a>
            </div>
            {% endif %}
            <div class="col-md-3">
            <a href="{{ path('gallery_new') }}" class="home-shortcut btn btn-light"><span class="far fa-images"></span>{{ 'general.addgallery'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
