{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}{{'general.administration'|trans}} | {{ "gallery.addimagesto"|trans }} '{{ gallery.title }}'{% endblock %}
{% block body %}
    <h1>{{ "gallery.addimagesto"|trans }} '{{ gallery.title }}'</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'mydropzone', 'class': 'dropzone'}}) }}
        <div class="fallback">
            {{ form_row(form.file) }}
        </div>
        <div class="form-buttons">
            {{ form_widget(form.edit_gallery, {'attr': {'id': 'form_edit_gallery', 'class': 'btn btn-outline-secondary'}}) }}
            {{ form_widget(form.edit_images, {'attr': {'id': 'form_edit_images','class': 'btn btn-outline-secondary', 'style': 'visibility:hidden'}}) }}
        </div>
    {{ form_end(form) }}
{% endblock %}