{% trans_default_domain 'App' %}
{% extends "admin/base-admin.html.twig" %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}{{'general.administration'|trans}} | {{ 'gallery.editimages'|trans }} '{{ form.title.vars.value }}'{% endblock %}
{% block body %}
    <h1> {{ 'gallery.editimagesof'|trans }} '{{ form.title.vars.value }}'</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form._token) }}
    {{ form_row(form.title) }}
        <div class="grid clearfix container-fluid mb-3">
            <div id="grid" class="row gx-2 gy-2">
            {% for imageField in form.pictures %}

            <div class="image-element col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <div class="inner-element p-2">
                    <span class="fas fa-arrows-alt imgdrag" aria-hidden="true"></span>
                    <div class="thumbnail">
                    <img src="{{ asset(images_directory ~ imageField.path.vars.value) | imagine_filter('admin_thumbnail_square') }}" class="rounded" />
                    <div class="alt-title">
                        <a href="#" class="fas fa-times closeform" aria-hidden="true"></a>
                        {{ form_label(imageField.title) }}
                        {{ form_widget(imageField.title) }}
                        {{ form_label(imageField.alt) }}
                        {{ form_widget(imageField.alt) }}
                    </div>
                    {{ form_widget(imageField.weight, { 'attr': {'class': 'weight'} }) }}
                    {{ form_widget(imageField.path) }}
                    <button type="button" class="btn btn-outline-secondary btn-sm openform" aria-label="Left Align"><span class="fas fa-list"></span> {{ 'gallery.alttitleedit'|trans }}</button>
                    <a href="{{ path('gallery_cropimage', {'ent_id' : ent_id, 'img_id' : imageField.vars.value.id}) }}" class="btn btn-outline-secondary btn-sm imgbutton"><span class="far fa-image"></span> {{ 'gallery.cropedit'|trans }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
        {{ form_row(form.save) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}